<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body ng-controller="AppCtrl">
<h1>todos</h1>
<!--Make input form to create new todos-->
<form class="form" ng-submit="add()">
  <div id="inputAllForm">
    <input id="btntoggle" type="button" name="toggle" ng-click="checkAll()">
    <input id="inputForm" type="text" name="text" placeholder="What needs to be done?" ng-model="todoText">
  </div>
  <br>
  <ul>
    <!--Show the todos -->
    <li ng-repeat="item in todos | filter:currentFilter">
      <input type="checkbox" ng-model="item.addLine" id="btndone">
                
                <span class="addLine-{{ item.addLine }}">
                {{ item.text }} </span>

      <!--This is the button to delete the todo-->
      <input id="btndelete" type="button" name="" ng-click="delete($index)">
    </li>
  </ul>
</form>
<form class="form">
  <br>
  <div class="btmbtn">
    <span id="showTheLeft">{{ remainingCount }} items left</span>

    <div>
      <button id="btnall" ng-class="{active: currentFilter == ''}" ng-click="changeFilter()" ng-model="$index">
        all
        <span>{{ allCount }}</span>
      </button>
      <button id="btnactive" ng-class="{active: currentFilter == filter.remaining}"
              ng-click="changeFilter(filter.remaining)">
        active
        <span>{{ remainingCount }}</span>
      </button>
      <button id="btncomplete" ng-class="{active: currentFilter == filter.addLine}"
              ng-click="changeFilter(filter.addLine)">
        complete
        <span>{{ doneCount }}</span>
      </button>
    </div>
    <div>
      <button id="btnclear" ng-click="removeDoneTodo()">delete all complete items</button>
    </div>
  </div>
</form>

<!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="js/app.js"></script>
<script src="js/controller/controller.js"></script>
<script src="js/directive/directive.js"></script>
<script src="components/version/version.js"></script>
<script src="components/version/version-directive.js"></script>
<script src="components/version/interpolate-filter.js"></script>
</body>

</html>